{# empty Twig template #}


<a class="btn btn-md" href="{{ admin.generateObjectUrl('show', object) }}">
    <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
    View
</a>

    
<a class="btn btn-md" href="{{ admin.generateObjectUrl('edit', object) }}">
    <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
    Edit
</a>

    